body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #474747;
    color: #fff;
    padding: 10px 20px;
}

.nav-title {
    font-size: 24px;
}

.nav-links {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.nav-links a.active {
    font-weight: bold;
}

.btn {
    background-color: #00b193;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    
    box-shadow: 0 5px 10px rgb(0, 0, 0);
}
.btn:hover {
    background-color: #5dd32f;
}


